.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.cards{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card__main{
  max-width: 370px;
  width: 100%;
  height: 300px;
  border: 1px solid silver;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  overflow: auto;
}

.card__title{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.card__source{
  margin-bottom: 15px;
}

.card__category{
  margin-bottom: 15px;
}

.card__url{
  margin-top: 20px;
}

.card__url a {
  padding: 10px 15px;
  background: rgb(103, 103, 230);
  color: #fff;
  border-radius: 10px;
  display: inline-block;
}

.navbar{
  margin: 30px 0;
}

.search__bar{
  padding: 15px 0 15px 10px;
  border: 1px solid silver;
  min-width: 350px;
  outline: none;
  border-radius: 10px;
  margin-right: 20px;
}

.navbar__search button {
  padding: 15px 20px;
  background: rgb(103, 103, 230);
  border-radius: 10px;
  color: #fff;
}